html {
    height: 100%;
    font-size: 16px;
}

body {
    font-size:  100%;
    overscroll-behavior-y: none;
    line-height: 1.3;
}

/* themes */ 

body[data-theme="lake"] {
  background: linear-gradient(#8EB1C7, #255C99);
  color: black;
}
  body[data-theme="lake"] a {
    color: black;
  }

body[data-theme="deep"] {
  background: linear-gradient(rgb(34, 42, 48), rgb(2, 10, 19));
  color: lightgray;
}
  body[data-theme="deep"] a {
    color: lightgray;
  }

body[data-theme="dark"] {
  background: black;
  color: white;
}
  body[data-theme="dark"] a {
    color: white;
  }

body[data-theme="light"] {
  background: white;
  color: black;
}
  body[data-theme="light"] a {
    color: black;
  }



.bookmark_title {
    cursor: pointer;
  }

  .hovericon {
    display: inline-block;
    margin-left: 10px;
    opacity: 0;
    transition: opacity .1s linear;
  }

  .bookmark_title:hover .hovericon {
    opacity: .5;
    pointer-events: all;
  }

  .bookmark_title .hovericon:hover {
    opacity: 1;
  }

  .children_loaded ul:not(:first-child) {
    border-left: 1px solid lightgrey;
    margin: 5px 0;
  }

  #new_bm_form_container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,0.6);
  }

  #new_bm_form {
    position: absolute;
    /* text-align: center; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #fish {
    transform: scaleX(-1);
  }

  .grid {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(20px, auto);
  }

  ul:before{
    content:attr(aria-label);
  }

  ul.linkset {
    list-style-type: none;
    padding-inline-start: 0;
  }

  #options_panel {
    box-sizing: border-box;
    position: fixed;
    background: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 100%;
    height: auto;
    border: 1px solid;
    display: none;

    transition: opacity .1s linear;
  }
    #options_panel.hidden {
      display: block;
      opacity: 0;
    }
    #options_panel.toggled {
      display: block;
      opacity: 1;
    }

  .options_row {
    padding: 20px;
    border-bottom: 1px dotted;
  }